<li>
    {{name}}

    <button class="eaten" data-id="{{id}}" data-justeaten="{{eaten}}">
        {{#if eaten}}Devour it!{{else}}Re-order?{{/if}}
    </button>
    <button class="delete-burger" data-id="{{this.id}}">86 this</button>
</li>

</li>